body{
    background-color: rgb(1, 1, 59);
}

h1{
	display: flex;
    justify-content: center;
    color:oldlace;
}

section{
	display: flex;
	justify-content: center;
}

input{
    width: 400px;
    height: 25px;
}

div{
    max-width: 960px;
}