body{
    background-color: rgb(1, 1, 59);
}

h1{
	display: flex;
    justify-content: center;
}

.title{
    color:oldlace;
    padding-top: 2%;
}

section{
	display: flex;
	justify-content: center;
    padding: auto;
}

input{
    width: 400px;
    height: 25px;
}


div{
    display: flex;
	justify-content: center;
}

.box{
    background-image: linear-gradient(rgb(255, 123, 0), oldlace);
    width: 400px;
    height: 140px;
    padding-top: 10%;
}

.suggestions{
    background-image: linear-gradient(rgb(255, 123, 0), oldlace);
    width: 400px;
    display: block;
}

.hl{
    background-color: rgb(255, 123, 0);
}
